
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(110,110,110,0.6) 0%, rgba(98,98,98,0.6) 50%), url(<%=  image_path "background.jpg" %>);">
  <div class="banner-content">
    <h1>Your mental and physical training guide</h1>
    <div class="number of users">
    </div>
    <%= link_to t(".sign_in", default: "Log In"), new_user_session_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
