.card {
  // height: 200px;
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
  border-radius: 3px;
  margin-bottom: 15px;
  margin-top: 15px;
  h2 {
    font-size: 25px !important;
  }
}

